body {
  text-align: center;
  color: #333;
  background-color: rgb(255, 197, 113);
}

#connect4 {
  background-color: yellow;
  display: inline-block;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}

.col.empty {
  cursor: pointer;
}

.next-red {
  background-color: rgba(255, 0, 0, .2);
}

.next-blue {
  background-color: rgba(0, 0, 255, .2);
}

.col.red {
  background-color: red;
}

.col.blue {
  background-color: blue;
}

#restart {
  margin-top: 20px;
  padding: 20px;
  border: 0;
  font-weight: bold;
  color: #333;
  background-color: rgba(255, 255, 0, .8);
  cursor: pointer;
}

.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
  from {
      transform: translateY(-500px);
  }
  to {
      transform: translateY(0);
  }
}